/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-cpfdkg02p9] {
    position: relative;
    display: flex;
    flex-direction: column;
}

body[b-cpfdkg02p9] {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 10px;
}

main[b-cpfdkg02p9] {
    flex: 1;
}

.sidebar[b-cpfdkg02p9] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.list-group-item[b-cpfdkg02p9] {
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth background color change on hover */
}

.list-group-item:hover[b-cpfdkg02p9] {
    background-color: red; /* Change background color on hover */
    color: white; /* Change text color on hover */
}

.modal[b-cpfdkg02p9] {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5); /* semi-transparent background */
}

.modal-dialog[b-cpfdkg02p9] {
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* Gradient background */
    border-radius: 15px;
    animation: scaleUp-b-cpfdkg02p9 0.3s ease-in-out; /* Add an animation when the modal pops up */
}

.modal-content[b-cpfdkg02p9] {
    margin: 1.75rem;
    padding: 20px;
    border: none;
    border-radius: 15px;
    color: #fff; /* White text color */
    box-shadow: 0 4px 20px rgba(0,0,0,0.2); /* Soft shadow for depth */
}

.modal-header[b-cpfdkg02p9] {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #dee2e6;
    background-color: rgba(255, 255, 255, 0.2); /* Slightly transparent white */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-title[b-cpfdkg02p9] {
    margin: 0;
    font-weight: bold;
}

.close[b-cpfdkg02p9] {
    font-size: 1.5rem;
    color: #fff;
    opacity: 1;
}

.close:hover[b-cpfdkg02p9] {
    color: #f00;
}

.modal-body[b-cpfdkg02p9] {
    padding: 2rem;
    line-height: 1.6;
    font-size: 1rem;
}

@keyframes scaleUp-b-cpfdkg02p9 {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Style the buttons */
.btn-primary[b-cpfdkg02p9] {
    background-color: #6dd5ed;
    border: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Add shadow to buttons */
    transition: transform 0.1s; /* Smooth transform on click */
}

.btn-primary:active[b-cpfdkg02p9] {
    transform: translateY(2px); /* Move the button down when clicked */
}


@keyframes slideDownFadeIn-b-cpfdkg02p9 {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
  

  .container[b-cpfdkg02p9] {
    padding-top: 2rem;
}

h1.display-4[b-cpfdkg02p9] {
    color: #007bff; /* Bootstrap primary color */
}

h2[b-cpfdkg02p9] {
    color: #6c757d; /* Bootstrap secondary color */
}
  
  .close:hover[b-cpfdkg02p9],
  .close:focus[b-cpfdkg02p9] {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

.top-row[b-cpfdkg02p9] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-cpfdkg02p9]  a, .top-row[b-cpfdkg02p9]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-cpfdkg02p9]  a:hover, .top-row[b-cpfdkg02p9]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-cpfdkg02p9]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-cpfdkg02p9] {
        display: none;
    }

    .top-row.auth[b-cpfdkg02p9] {
        justify-content: space-between;
    }

    .top-row[b-cpfdkg02p9]  a, .top-row[b-cpfdkg02p9]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-cpfdkg02p9] {
        flex-direction: row;
    }

    .sidebar[b-cpfdkg02p9] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-cpfdkg02p9] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-cpfdkg02p9]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-cpfdkg02p9], article[b-cpfdkg02p9] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-f5hgbs4bak] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-f5hgbs4bak] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-f5hgbs4bak] {
    font-size: 1.1rem;
}

.oi[b-f5hgbs4bak] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-f5hgbs4bak] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-f5hgbs4bak] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-f5hgbs4bak] {
        padding-bottom: 1rem;
    }

    .nav-item[b-f5hgbs4bak]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-f5hgbs4bak]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-f5hgbs4bak]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-f5hgbs4bak] {
        display: none;
    }

    .collapse[b-f5hgbs4bak] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-f5hgbs4bak] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
